/* Cada celda de día */
.rdp-day {
  border-radius: 8px;
  font-weight: 500;
}

/* Día de hoy */
.rdp-day.rdp-today {
  color: #fc697b !important;
  font-weight: bold !important;
}

/* Día seleccionado */
.rdp-day.rdp-selected .rdp-day_button {
  background-color: #fc697b;
  color: white;
  border: none;
}

/* Remover outline azul */
.rdp-day_button:focus,
.rdp-day_button:focus-visible {
  outline: none;
  box-shadow: none;
}

/* Si quieres un borde personalizado al hacer focus */
.rdp-day_button:focus-visible {
  outline: 2px solid #fc697b;
  outline-offset: 2px;
}

/* Botones de navegación */
.rdp-button_previous,
.rdp-button_next {
  color: #333 !important;
  transition: all;
  transition-duration: 200ms;
}
/* Color de las flechas de navegación */
.rdp-button_previous svg,
.rdp-button_next svg {
  fill: #fc697b !important;
  transition: all;
  transition-duration: 200ms;
}
/* O si querés cambiar el color al pasar el mouse */
.rdp-button_previous:hover svg,
.rdp-button_next:hover svg {
  fill: #fa5266 !important;
}

.rdp-day_button {
  --rdp-day_button-width: 35px;
  --rdp-day_button-height: 35px; /* También hay de altura */
}
