# Build output
**/bin/
**/obj/

# Visual Studio
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings*.json


# Logs y cache
*.log
*.cache

# Secretos y configuración local
**/appsettings.Development.json
**/appsettings.Local.json

# Publicación
**/publish/